body {
 font-family: Arial, sans-serif;
 background-color: #f4f6f8;
 color: black;
 line-height: 1.6;
        
}
/* Conteneur du formulaire */
.contact-container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Titre */
.contact-section  {
    text-align:center;
    background-color:black;
    color: orangered;
}
.contact-section p{
    text-align: center;
    color: white;
}

/* contact-info */
 label {
    display: center;
    margin-top: 15px;
    font-weight: bold;
}

/* Contact-info */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 14px;
}

/* Bouton */
button {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background-color:rgb(238, 122, 80);
    color: white;
    border: none;
    border-radius: 300px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
}
h2 {
    text-align: center;
    background-color: black;
    color: orangered;
}
p2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}